@charset "UTF-8";

/* 폰트 프리텐다드 */
/* font-family: 'Pretendard'; */


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.left_box {
    float: left;
}

.right_box {
    float: right;
}

body {
    text-align: center;
}

/* WebGuide */

#WebGuide {
    width: 1320px;
    margin: 0 auto;
}

#WebGuide img {
    width: 100%;
    display: block;
}

.fixed_box {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 60px;
}

.fixed_box2 {
    position: fixed;
    bottom: 100px;
    right: 30px;
    width: 60px;
}

.fixed_box a img,
.fixed_box2 a img {
    width: 100%;
}

#bg {
    background-color: #cadafe;
}